body{
    background-color: #cccbbe;
}



header{
    border-bottom: 1px solid white;
    background-color: rgb(36, 2, 59);
    color: #cccbbe;
    font-size:20px;
    font-weight: bold;
}

#logo{
 width: 10%;
}

button{
    border: none;
    background-color: rgb(36, 2, 59);
    color: #cccbbe;
    font-size:20px;
    font-weight: bold;
    font-family: 'Rye', cursive; 
}

button:hover{
    font-size: 23px;
}

.card-deck{
width: 50%;
}

.card{
    margin-top: 25px;
   
}

h1{
    font-family: 'Kalam', cursive;
    font-weight: 700;
}

#about{
    font-family: 'Kalam', cursive;
    color: rgb(36, 2, 59);  
}

p{
    font-family: 'Kalam', cursive;
    font-size:larger;
    color: rgb(36, 2, 59);
}

a{
    border: none;
    background-color: rgb(36, 2, 59);
    color: #cccbbe;
    font-size:20px;
    font-weight: 700;
    font-family: 'Kalam', cursive; 
}

a:hover{
    font-size: 23px;
    color: #cccbbe;
}